/* Allow users in wheel group to run cpufreqctl without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "rf.cpupower.setcpufreq" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
